[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa
[submodule "themes/themes/hugo-coder"]
	path = themes/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/vaziri-mahmoud/vaziri-mahmoud.github.io.git
